{
  "bracketSpacing": true,
  "printWidth": 80,
  "tsxSingleQuote": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "bracketSameLine": false,
  "react/tsx-max-props-per-line": [1, {"when": "always"}]
}
